/* Gray */

:root {
  --gray-1: #fdfdfc;
  --gray-2: #f9f9f8;
  --gray-3: #f1f0ef;
  --gray-4: #e9e8e6;
  --gray-5: #e2e1de;
  --gray-6: #dad9d6;
  --gray-7: #cfceca;
  --gray-8: #bcbbb5;
  --gray-9: #8d8d86;
  --gray-10: #82827c;
  --gray-11: #63635e;
  --gray-12: #21201c;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --gray-1: color(display-p3 0.992 0.992 0.989);
      --gray-2: color(display-p3 0.977 0.977 0.973);
      --gray-3: color(display-p3 0.943 0.942 0.936);
      --gray-4: color(display-p3 0.913 0.912 0.903);
      --gray-5: color(display-p3 0.885 0.883 0.873);
      --gray-6: color(display-p3 0.854 0.852 0.839);
      --gray-7: color(display-p3 0.813 0.81 0.794);
      --gray-8: color(display-p3 0.738 0.734 0.713);
      --gray-9: color(display-p3 0.553 0.553 0.528);
      --gray-10: color(display-p3 0.511 0.511 0.488);
      --gray-11: color(display-p3 0.388 0.388 0.37);
      --gray-12: color(display-p3 0.129 0.126 0.111);
    }
  }
}

[data-theme="dark"] {
  --gray-1: #111110;
  --gray-2: #191918;
  --gray-3: #222221;
  --gray-4: #2a2a28;
  --gray-5: #31312e;
  --gray-6: #3b3a37;
  --gray-7: #494844;
  --gray-8: #62605b;
  --gray-9: #6f6d66;
  --gray-10: #7c7b74;
  --gray-11: #b5b3ad;
  --gray-12: #eeeeec;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    [data-theme="dark"] {
      --gray-1: color(display-p3 0.067 0.067 0.063);
      --gray-2: color(display-p3 0.098 0.098 0.094);
      --gray-3: color(display-p3 0.135 0.135 0.129);
      --gray-4: color(display-p3 0.164 0.163 0.156);
      --gray-5: color(display-p3 0.193 0.192 0.183);
      --gray-6: color(display-p3 0.23 0.229 0.217);
      --gray-7: color(display-p3 0.285 0.282 0.267);
      --gray-8: color(display-p3 0.384 0.378 0.357);
      --gray-9: color(display-p3 0.434 0.428 0.403);
      --gray-10: color(display-p3 0.487 0.481 0.456);
      --gray-11: color(display-p3 0.707 0.703 0.68);
      --gray-12: color(display-p3 0.933 0.933 0.926);
    }
  }
}

/* Gray Alpha */

:root {
  --gray-a1: #55550003;
  --gray-a2: #25250007;
  --gray-a3: #20100010;
  --gray-a4: #1f150019;
  --gray-a5: #1f180021;
  --gray-a6: #19130029;
  --gray-a7: #19140035;
  --gray-a8: #1915014a;
  --gray-a9: #0f0f0079;
  --gray-a10: #0c0c0083;
  --gray-a11: #080800a1;
  --gray-a12: #060500e3;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --gray-a1: color(display-p3 0.349 0.349 0.024 / 0.012);
      --gray-a2: color(display-p3 0.161 0.161 0.024 / 0.028);
      --gray-a3: color(display-p3 0.067 0.067 0.008 / 0.063);
      --gray-a4: color(display-p3 0.129 0.129 0.012 / 0.099);
      --gray-a5: color(display-p3 0.098 0.067 0.008 / 0.126);
      --gray-a6: color(display-p3 0.102 0.075 0.004 / 0.161);
      --gray-a7: color(display-p3 0.098 0.098 0.004 / 0.208);
      --gray-a8: color(display-p3 0.086 0.075 0.004 / 0.287);
      --gray-a9: color(display-p3 0.051 0.051 0.004 / 0.471);
      --gray-a10: color(display-p3 0.047 0.047 0 / 0.514);
      --gray-a11: color(display-p3 0.031 0.031 0 / 0.632);
      --gray-a12: color(display-p3 0.024 0.02 0 / 0.891);
    }
  }
}

[data-theme="dark"] {
  --gray-a1: #00000000;
  --gray-a2: #f4f4f309;
  --gray-a3: #f6f6f513;
  --gray-a4: #fefef31b;
  --gray-a5: #fbfbeb23;
  --gray-a6: #fffaed2d;
  --gray-a7: #fffbed3c;
  --gray-a8: #fff9eb57;
  --gray-a9: #fffae965;
  --gray-a10: #fffdee73;
  --gray-a11: #fffcf4b0;
  --gray-a12: #fffffded;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    [data-theme="dark"] {
      --gray-a1: color(display-p3 0 0 0 / 0);
      --gray-a2: color(display-p3 0.992 0.992 0.988 / 0.034);
      --gray-a3: color(display-p3 0.996 0.996 0.992 / 0.072);
      --gray-a4: color(display-p3 0.992 0.992 0.953 / 0.106);
      --gray-a5: color(display-p3 1 1 0.965 / 0.135);
      --gray-a6: color(display-p3 1 0.976 0.929 / 0.177);
      --gray-a7: color(display-p3 1 0.984 0.929 / 0.236);
      --gray-a8: color(display-p3 1 0.976 0.925 / 0.341);
      --gray-a9: color(display-p3 1 0.98 0.925 / 0.395);
      --gray-a10: color(display-p3 1 0.992 0.933 / 0.45);
      --gray-a11: color(display-p3 1 0.996 0.961 / 0.685);
      --gray-a12: color(display-p3 1 1 0.992 / 0.929);
    }
  }
}

/* Blue */

:root {
  --blue-1: #fbfdff;
  --blue-2: #f4faff;
  --blue-3: #e6f4fe;
  --blue-4: #d5efff;
  --blue-5: #c2e5ff;
  --blue-6: #acd8fc;
  --blue-7: #8ec8f6;
  --blue-8: #5eb1ef;
  --blue-9: #0090ff;
  --blue-10: #0588f0;
  --blue-11: #0d74ce;
  --blue-12: #113264;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --blue-1: color(display-p3 0.986 0.992 0.999);
      --blue-2: color(display-p3 0.96 0.979 0.998);
      --blue-3: color(display-p3 0.912 0.956 0.991);
      --blue-4: color(display-p3 0.853 0.932 1);
      --blue-5: color(display-p3 0.788 0.894 0.998);
      --blue-6: color(display-p3 0.709 0.843 0.976);
      --blue-7: color(display-p3 0.606 0.777 0.947);
      --blue-8: color(display-p3 0.451 0.688 0.917);
      --blue-9: color(display-p3 0.247 0.556 0.969);
      --blue-10: color(display-p3 0.234 0.523 0.912);
      --blue-11: color(display-p3 0.15 0.44 0.84);
      --blue-12: color(display-p3 0.102 0.193 0.379);
    }
  }
}

[data-theme="dark"] {
  --blue-1: #0d1520;
  --blue-2: #111927;
  --blue-3: #0d2847;
  --blue-4: #003362;
  --blue-5: #004074;
  --blue-6: #104d87;
  --blue-7: #205d9e;
  --blue-8: #2870bd;
  --blue-9: #0090ff;
  --blue-10: #3b9eff;
  --blue-11: #70b8ff;
  --blue-12: #c2e6ff;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    [data-theme="dark"] {
      --blue-1: color(display-p3 0.057 0.081 0.122);
      --blue-2: color(display-p3 0.072 0.098 0.147);
      --blue-3: color(display-p3 0.078 0.154 0.27);
      --blue-4: color(display-p3 0.033 0.197 0.37);
      --blue-5: color(display-p3 0.08 0.245 0.441);
      --blue-6: color(display-p3 0.14 0.298 0.511);
      --blue-7: color(display-p3 0.195 0.361 0.6);
      --blue-8: color(display-p3 0.239 0.434 0.72);
      --blue-9: color(display-p3 0.247 0.556 0.969);
      --blue-10: color(display-p3 0.344 0.612 0.973);
      --blue-11: color(display-p3 0.49 0.72 1);
      --blue-12: color(display-p3 0.788 0.898 0.99);
    }
  }
}

/* Purple */

:root {
  --purple-1: #fefcfe;
  --purple-2: #fbf7fe;
  --purple-3: #f7edfe;
  --purple-4: #f2e2fc;
  --purple-5: #ead5f9;
  --purple-6: #e0c4f4;
  --purple-7: #d1afec;
  --purple-8: #be93e4;
  --purple-9: #8e4ec6;
  --purple-10: #8347b9;
  --purple-11: #8145b5;
  --purple-12: #402060;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --purple-1: color(display-p3 0.995 0.988 0.996);
      --purple-2: color(display-p3 0.983 0.971 0.993);
      --purple-3: color(display-p3 0.963 0.931 0.989);
      --purple-4: color(display-p3 0.937 0.888 0.981);
      --purple-5: color(display-p3 0.904 0.837 0.966);
      --purple-6: color(display-p3 0.86 0.774 0.942);
      --purple-7: color(display-p3 0.799 0.69 0.91);
      --purple-8: color(display-p3 0.719 0.583 0.874);
      --purple-9: color(display-p3 0.523 0.318 0.751);
      --purple-10: color(display-p3 0.483 0.289 0.7);
      --purple-11: color(display-p3 0.473 0.281 0.687);
      --purple-12: color(display-p3 0.234 0.132 0.363);
    }
  }
}

[data-theme="dark"] {
  --purple-1: #18111b;
  --purple-2: #1e1523;
  --purple-3: #301c3b;
  --purple-4: #3d224e;
  --purple-5: #48295c;
  --purple-6: #54346b;
  --purple-7: #664282;
  --purple-8: #8457aa;
  --purple-9: #8e4ec6;
  --purple-10: #9a5cd0;
  --purple-11: #d19dff;
  --purple-12: #ecd9fa;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    [data-theme="dark"] {
      --purple-1: color(display-p3 0.09 0.068 0.103);
      --purple-2: color(display-p3 0.113 0.082 0.134);
      --purple-3: color(display-p3 0.175 0.112 0.224);
      --purple-4: color(display-p3 0.224 0.137 0.297);
      --purple-5: color(display-p3 0.264 0.167 0.349);
      --purple-6: color(display-p3 0.311 0.208 0.406);
      --purple-7: color(display-p3 0.381 0.266 0.496);
      --purple-8: color(display-p3 0.49 0.349 0.649);
      --purple-9: color(display-p3 0.523 0.318 0.751);
      --purple-10: color(display-p3 0.57 0.373 0.791);
      --purple-11: color(display-p3 0.8 0.62 1);
      --purple-12: color(display-p3 0.913 0.854 0.971);
    }
  }
}

/* Pink */

:root {
  --pink-1: #fffcfe;
  --pink-2: #fef7fb;
  --pink-3: #fee9f5;
  --pink-4: #fbdcef;
  --pink-5: #f6cee7;
  --pink-6: #efbfdd;
  --pink-7: #e7acd0;
  --pink-8: #dd93c2;
  --pink-9: #d6409f;
  --pink-10: #cf3897;
  --pink-11: #c2298a;
  --pink-12: #651249;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --pink-1: color(display-p3 0.998 0.989 0.996);
      --pink-2: color(display-p3 0.992 0.97 0.985);
      --pink-3: color(display-p3 0.981 0.917 0.96);
      --pink-4: color(display-p3 0.963 0.867 0.932);
      --pink-5: color(display-p3 0.939 0.815 0.899);
      --pink-6: color(display-p3 0.907 0.756 0.859);
      --pink-7: color(display-p3 0.869 0.683 0.81);
      --pink-8: color(display-p3 0.825 0.59 0.751);
      --pink-9: color(display-p3 0.775 0.297 0.61);
      --pink-10: color(display-p3 0.748 0.27 0.581);
      --pink-11: color(display-p3 0.698 0.219 0.528);
      --pink-12: color(display-p3 0.363 0.101 0.279);
    }
  }
}

[data-theme="dark"] {
  --pink-1: #191117;
  --pink-2: #21121d;
  --pink-3: #37172f;
  --pink-4: #4b143d;
  --pink-5: #591c47;
  --pink-6: #692955;
  --pink-7: #833869;
  --pink-8: #a84885;
  --pink-9: #d6409f;
  --pink-10: #de51a8;
  --pink-11: #ff8dcc;
  --pink-12: #fdd1ea;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    [data-theme="dark"] {
      --pink-1: color(display-p3 0.093 0.068 0.089);
      --pink-2: color(display-p3 0.121 0.073 0.11);
      --pink-3: color(display-p3 0.198 0.098 0.179);
      --pink-4: color(display-p3 0.271 0.095 0.231);
      --pink-5: color(display-p3 0.32 0.127 0.273);
      --pink-6: color(display-p3 0.382 0.177 0.326);
      --pink-7: color(display-p3 0.477 0.238 0.405);
      --pink-8: color(display-p3 0.612 0.304 0.51);
      --pink-9: color(display-p3 0.775 0.297 0.61);
      --pink-10: color(display-p3 0.808 0.356 0.645);
      --pink-11: color(display-p3 1 0.535 0.78);
      --pink-12: color(display-p3 0.964 0.826 0.912);
    }
  }
}

/* Red */

:root {
  --red-1: #fffcfc;
  --red-2: #fff8f7;
  --red-3: #feebe7;
  --red-4: #ffdcd3;
  --red-5: #ffcdc2;
  --red-6: #fdbdaf;
  --red-7: #f5a898;
  --red-8: #ec8e7b;
  --red-9: #e54d2e;
  --red-10: #dd4425;
  --red-11: #d13415;
  --red-12: #5c271f;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --red-1: color(display-p3 0.998 0.989 0.988);
      --red-2: color(display-p3 0.994 0.974 0.969);
      --red-3: color(display-p3 0.985 0.924 0.909);
      --red-4: color(display-p3 0.996 0.868 0.835);
      --red-5: color(display-p3 0.98 0.812 0.77);
      --red-6: color(display-p3 0.953 0.75 0.698);
      --red-7: color(display-p3 0.917 0.673 0.611);
      --red-8: color(display-p3 0.875 0.575 0.502);
      --red-9: color(display-p3 0.831 0.345 0.231);
      --red-10: color(display-p3 0.802 0.313 0.2);
      --red-11: color(display-p3 0.755 0.259 0.152);
      --red-12: color(display-p3 0.335 0.165 0.132);
    }
  }
}

[data-theme="dark"] {
  --red-1: #181111;
  --red-2: #1f1513;
  --red-3: #391714;
  --red-4: #4e1511;
  --red-5: #5e1c16;
  --red-6: #6e2920;
  --red-7: #853a2d;
  --red-8: #ac4d39;
  --red-9: #e54d2e;
  --red-10: #ec6142;
  --red-11: #ff977d;
  --red-12: #fbd3cb;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    [data-theme="dark"] {
      --red-1: color(display-p3 0.09 0.068 0.067);
      --red-2: color(display-p3 0.115 0.084 0.076);
      --red-3: color(display-p3 0.205 0.097 0.083);
      --red-4: color(display-p3 0.282 0.099 0.077);
      --red-5: color(display-p3 0.339 0.129 0.101);
      --red-6: color(display-p3 0.398 0.179 0.141);
      --red-7: color(display-p3 0.487 0.245 0.194);
      --red-8: color(display-p3 0.629 0.322 0.248);
      --red-9: color(display-p3 0.831 0.345 0.231);
      --red-10: color(display-p3 0.862 0.415 0.298);
      --red-11: color(display-p3 1 0.585 0.455);
      --red-12: color(display-p3 0.959 0.833 0.802);
    }
  }
}

/* Lime */

:root {
  --lime-1: #fcfdfa;
  --lime-2: #f8faf3;
  --lime-3: #eef6d6;
  --lime-4: #e2f0bd;
  --lime-5: #d3e7a6;
  --lime-6: #c2da91;
  --lime-7: #abc978;
  --lime-8: #8db654;
  --lime-9: #bdee63;
  --lime-10: #b0e64c;
  --lime-11: #5c7c2f;
  --lime-12: #37401c;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --lime-1: color(display-p3 0.989 0.992 0.981);
      --lime-2: color(display-p3 0.975 0.98 0.954);
      --lime-3: color(display-p3 0.939 0.965 0.851);
      --lime-4: color(display-p3 0.896 0.94 0.76);
      --lime-5: color(display-p3 0.843 0.903 0.678);
      --lime-6: color(display-p3 0.778 0.852 0.599);
      --lime-7: color(display-p3 0.694 0.784 0.508);
      --lime-8: color(display-p3 0.585 0.707 0.378);
      --lime-9: color(display-p3 0.78 0.928 0.466);
      --lime-10: color(display-p3 0.734 0.896 0.397);
      --lime-11: color(display-p3 0.386 0.482 0.227);
      --lime-12: color(display-p3 0.222 0.25 0.128);
    }
  }
}

[data-theme="dark"] {
  --lime-1: #11130c;
  --lime-2: #151a10;
  --lime-3: #1f2917;
  --lime-4: #29371d;
  --lime-5: #334423;
  --lime-6: #3d522a;
  --lime-7: #496231;
  --lime-8: #577538;
  --lime-9: #bdee63;
  --lime-10: #d4ff70;
  --lime-11: #bde56c;
  --lime-12: #e3f7ba;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    [data-theme="dark"] {
      --lime-1: color(display-p3 0.067 0.073 0.048);
      --lime-2: color(display-p3 0.086 0.1 0.067);
      --lime-3: color(display-p3 0.13 0.16 0.099);
      --lime-4: color(display-p3 0.172 0.214 0.126);
      --lime-5: color(display-p3 0.213 0.266 0.153);
      --lime-6: color(display-p3 0.257 0.321 0.182);
      --lime-7: color(display-p3 0.307 0.383 0.215);
      --lime-8: color(display-p3 0.365 0.456 0.25);
      --lime-9: color(display-p3 0.78 0.928 0.466);
      --lime-10: color(display-p3 0.865 0.995 0.519);
      --lime-11: color(display-p3 0.771 0.893 0.485);
      --lime-12: color(display-p3 0.905 0.966 0.753);
    }
  }
}

/* Brown */

:root {
  --brown-1: #fefdfc;
  --brown-2: #fcf9f6;
  --brown-3: #f6eee7;
  --brown-4: #f0e4d9;
  --brown-5: #ebdaca;
  --brown-6: #e4cdb7;
  --brown-7: #dcbc9f;
  --brown-8: #cea37e;
  --brown-9: #ad7f58;
  --brown-10: #a07553;
  --brown-11: #815e46;
  --brown-12: #3e332e;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --brown-1: color(display-p3 0.995 0.992 0.989);
      --brown-2: color(display-p3 0.987 0.976 0.964);
      --brown-3: color(display-p3 0.959 0.936 0.909);
      --brown-4: color(display-p3 0.934 0.897 0.855);
      --brown-5: color(display-p3 0.909 0.856 0.798);
      --brown-6: color(display-p3 0.88 0.808 0.73);
      --brown-7: color(display-p3 0.841 0.742 0.639);
      --brown-8: color(display-p3 0.782 0.647 0.514);
      --brown-9: color(display-p3 0.651 0.505 0.368);
      --brown-10: color(display-p3 0.601 0.465 0.344);
      --brown-11: color(display-p3 0.485 0.374 0.288);
      --brown-12: color(display-p3 0.236 0.202 0.183);
    }
  }
}

[data-theme="dark"] {
  --brown-1: #12110f;
  --brown-2: #1c1816;
  --brown-3: #28211d;
  --brown-4: #322922;
  --brown-5: #3e3128;
  --brown-6: #4d3c2f;
  --brown-7: #614a39;
  --brown-8: #7c5f46;
  --brown-9: #ad7f58;
  --brown-10: #b88c67;
  --brown-11: #dbb594;
  --brown-12: #f2e1ca;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    [data-theme="dark"] {
      --brown-1: color(display-p3 0.071 0.067 0.059);
      --brown-2: color(display-p3 0.107 0.095 0.087);
      --brown-3: color(display-p3 0.151 0.13 0.115);
      --brown-4: color(display-p3 0.191 0.161 0.138);
      --brown-5: color(display-p3 0.235 0.194 0.162);
      --brown-6: color(display-p3 0.291 0.237 0.192);
      --brown-7: color(display-p3 0.365 0.295 0.232);
      --brown-8: color(display-p3 0.469 0.377 0.287);
      --brown-9: color(display-p3 0.651 0.505 0.368);
      --brown-10: color(display-p3 0.697 0.557 0.423);
      --brown-11: color(display-p3 0.835 0.715 0.597);
      --brown-12: color(display-p3 0.938 0.885 0.802);
    }
  }
}

/* Amber */

:root {
  --amber-1: #fefdfb;
  --amber-2: #fefbe9;
  --amber-3: #fff7c2;
  --amber-4: #ffee9c;
  --amber-5: #fbe577;
  --amber-6: #f3d673;
  --amber-7: #e9c162;
  --amber-8: #e2a336;
  --amber-9: #ffc53d;
  --amber-10: #ffba18;
  --amber-11: #ab6400;
  --amber-12: #4f3422;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --amber-1: color(display-p3 0.995 0.992 0.985);
      --amber-2: color(display-p3 0.994 0.986 0.921);
      --amber-3: color(display-p3 0.994 0.969 0.782);
      --amber-4: color(display-p3 0.989 0.937 0.65);
      --amber-5: color(display-p3 0.97 0.902 0.527);
      --amber-6: color(display-p3 0.936 0.844 0.506);
      --amber-7: color(display-p3 0.89 0.762 0.443);
      --amber-8: color(display-p3 0.85 0.65 0.3);
      --amber-9: color(display-p3 1 0.77 0.26);
      --amber-10: color(display-p3 0.959 0.741 0.274);
      --amber-11: color(display-p3 0.64 0.4 0);
      --amber-12: color(display-p3 0.294 0.208 0.145);
    }
  }
}

[data-theme="dark"] {
  --amber-1: #16120c;
  --amber-2: #1d180f;
  --amber-3: #302008;
  --amber-4: #3f2700;
  --amber-5: #4d3000;
  --amber-6: #5c3d05;
  --amber-7: #714f19;
  --amber-8: #8f6424;
  --amber-9: #ffc53d;
  --amber-10: #ffd60a;
  --amber-11: #ffca16;
  --amber-12: #ffe7b3;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    [data-theme="dark"] {
      --amber-1: color(display-p3 0.082 0.07 0.05);
      --amber-2: color(display-p3 0.111 0.094 0.064);
      --amber-3: color(display-p3 0.178 0.128 0.049);
      --amber-4: color(display-p3 0.239 0.156 0);
      --amber-5: color(display-p3 0.29 0.193 0);
      --amber-6: color(display-p3 0.344 0.245 0.076);
      --amber-7: color(display-p3 0.422 0.314 0.141);
      --amber-8: color(display-p3 0.535 0.399 0.189);
      --amber-9: color(display-p3 1 0.77 0.26);
      --amber-10: color(display-p3 1 0.87 0.15);
      --amber-11: color(display-p3 1 0.8 0.29);
      --amber-12: color(display-p3 0.984 0.909 0.726);
    }
  }
}

/* White Alpha */

:root {
  --white-a1: rgba(255, 255, 255, 0.05);
  --white-a2: rgba(255, 255, 255, 0.1);
  --white-a3: rgba(255, 255, 255, 0.15);
  --white-a4: rgba(255, 255, 255, 0.2);
  --white-a5: rgba(255, 255, 255, 0.3);
  --white-a6: rgba(255, 255, 255, 0.4);
  --white-a7: rgba(255, 255, 255, 0.5);
  --white-a8: rgba(255, 255, 255, 0.6);
  --white-a9: rgba(255, 255, 255, 0.7);
  --white-a10: rgba(255, 255, 255, 0.8);
  --white-a11: rgba(255, 255, 255, 0.9);
  --white-a12: rgba(255, 255, 255, 0.95);
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --white-a1: color(display-p3 1 1 1 / 0.05);
      --white-a2: color(display-p3 1 1 1 / 0.1);
      --white-a3: color(display-p3 1 1 1 / 0.15);
      --white-a4: color(display-p3 1 1 1 / 0.2);
      --white-a5: color(display-p3 1 1 1 / 0.3);
      --white-a6: color(display-p3 1 1 1 / 0.4);
      --white-a7: color(display-p3 1 1 1 / 0.5);
      --white-a8: color(display-p3 1 1 1 / 0.6);
      --white-a9: color(display-p3 1 1 1 / 0.7);
      --white-a10: color(display-p3 1 1 1 / 0.8);
      --white-a11: color(display-p3 1 1 1 / 0.9);
      --white-a12: color(display-p3 1 1 1 / 0.95);
    }
  }
}

/* Black Alpha */

:root {
  --black-a1: rgba(0, 0, 0, 0.05);
  --black-a2: rgba(0, 0, 0, 0.1);
  --black-a3: rgba(0, 0, 0, 0.15);
  --black-a4: rgba(0, 0, 0, 0.2);
  --black-a5: rgba(0, 0, 0, 0.3);
  --black-a6: rgba(0, 0, 0, 0.4);
  --black-a7: rgba(0, 0, 0, 0.5);
  --black-a8: rgba(0, 0, 0, 0.6);
  --black-a9: rgba(0, 0, 0, 0.7);
  --black-a10: rgba(0, 0, 0, 0.8);
  --black-a11: rgba(0, 0, 0, 0.9);
  --black-a12: rgba(0, 0, 0, 0.95);
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --black-a1: color(display-p3 0 0 0 / 0.05);
      --black-a2: color(display-p3 0 0 0 / 0.1);
      --black-a3: color(display-p3 0 0 0 / 0.15);
      --black-a4: color(display-p3 0 0 0 / 0.2);
      --black-a5: color(display-p3 0 0 0 / 0.3);
      --black-a6: color(display-p3 0 0 0 / 0.4);
      --black-a7: color(display-p3 0 0 0 / 0.5);
      --black-a8: color(display-p3 0 0 0 / 0.6);
      --black-a9: color(display-p3 0 0 0 / 0.7);
      --black-a10: color(display-p3 0 0 0 / 0.8);
      --black-a11: color(display-p3 0 0 0 / 0.9);
      --black-a12: color(display-p3 0 0 0 / 0.95);
    }
  }
}
